/* ---------------------------------------- */
/* sizes: xsmall, small, medium, large      */
/* ---------------------------------------- */


$base-size-h: 1rem;
$base-size-w: 2rem;
:root {
  --base-size-h: $base-size-h,
  --base-size-w: $base-size-w
}

/* button and input elements */
.button-xsmall,
.input-xsmall {
  min-height: $base-size-h;
  min-width: $base-size-w;
  padding: 2px 8px;
}

.button-small,
.input-small {
  min-height: $base-size-h*2;
  min-width: $base-size-w*2;
  padding: 4px 12px;
}

.button-medium,
.input-medium {
  min-height: $base-size-h*3;
  min-width: $base-size-w*3;
  padding: 8px 16px;
}

.button-large,
.input-large {
  min-height: $base-size-h*4;
  min-width: $base-size-w*4;
  padding: 12px 24px;
}

/* round buttons */
.button-round-xsmall,
.button-round-small,
.button-round-medium,
.button-round-large {
  font-size: var(--fs-button-round, --fs-300);
}

.button-round-xsmall { padding: $base-size-h; }
.button-round-small { padding: $base-size-h*2; }
.button-round-medium { padding: $base-size-h*3; }
.button-round-large { padding: $base-size-h*4; }

/* border sizes */

$base-border-size: 1px;

.border-xsmall { border-width: $base-border-size; }
.border-small { border-width: $base-border-size*2; }
.border-medium { border-width: $base-border-size*3; }
.border-large { border-width: $base-border-size*4; }

/*  */