/* statutes of the elements */

button {
  z-index: 1;
  display: inline-grid;
  place-items: center;
  text-decoration: none;
  cursor: pointer;
  background: hsl( var(--color-white) / .1);
  opacity: 0.8;
}

button:hover,
button:focus {
  opacity: 1;
  transition: opacity 200ms linear;
}

.card {
  border: 1px solid rgba(139, 138, 138, 0.1);
  border-radius: var(--border-radius)
}
.card:hover,
.card:focus {
  cursor: pointer;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}